body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    
}
h1 {
    font-size: 50px;
}
.orange-color {
    color : lightcoral;
}
.free-container {
    display: flex;
    margin-bottom: 100px;
}
.half-width {
    width: 50%;
    padding-left: 6%;
}
.half-width img {
    width: 100%;
}
#dream {
    border: 5px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: lightgoldenrodyellow;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px 40px;
    border-radius: 6px;
}
.top-banner {
    background-image: url('images/cornar.jpg');
    background-size: 150px;
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url('images/pencil.jpg');
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item {
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px 10px;
    border-radius: 15px;
    text-align: justify;

}
.experience {
    background-image: url('images/left-pic.jpg');
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack-exp {
    border-left: 7px solid;
    border-image: linear-gradient(orange , tomato);
    border-image-slice: 1;
}

#noob-dev {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(0, 174, 255) , rgb(87, 143, 140));
    border-image-slice: 1;
}
footer {
    text-align: center;
}